#p1{
	color: red;
	font-family: 'Roboto', sans-serif;
	border: 1px solid powderblue;
	padding-top: 20px
}



.p1c {
	color:green !important;

}

iframe {
  display: none;
}
a{
	text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: red;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}